* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background: linear-gradient(to bottom right, #060606, #242525, #343534);
    font-family: Arial, sans-serif;


    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.contenido-principal {
    flex-grow: 1;
    width: 100%;
}

.cabecera {
    width: 100%;
    height: 250px;
    overflow: hidden;
}


.slider img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    display: block;
}

.bx-wrapper {
    background: none !important;
    border: none !important;
    box-shadow: none !important;
    margin: 0 !important;
    padding: 0 !important;
}

.bx-viewport {
    background: none !important;
    border: none !important;
}



.gridcontenedor {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    align-items: stretch;

    grid-template-areas:
        "titulo titulo titulo"
        "marca juegos registrarte";

}

.titulo-separador {
    grid-area: titulo;

    padding: 15px 0;
    text-align: center;
}

@keyframes colorChange {
    0% {
        color: #fff;
    }

    50% {
        color: #ff5100;
    }

    100% {
        color: #fff;
    }
}

.tituloanimado {
    font-size: 2.3em;
    animation: colorChange 4s infinite alternate;
    font-weight: bold;
}



.marca,
.nuestrosjuegos,
.registrarte {
    background-color: #afecef;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 100%;
    display: flex;
    flex-direction: column;
}


.marca img,
.nuestrosjuegos img,
.registrarte img {
    width: 100%;
    height: auto;
    max-height: 180px;
    object-fit: contain;
    border-radius: 6px;
    display: block;
}

.registrarte form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.registrarte input {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #555;
}

.registrarte button {
    padding: 10px;
    border: none;
    background-color: #3f2b96;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.registrarte button:hover {
    background-color: #2d2070;
}




.footer {
    background-color: #1a1a1a;
    color: white;
    padding: 25px 0 20px 0;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    border-top: 5px solid;
    border-image: linear-gradient(to right, #43e97b, #38f9d7, #9732d8) 1;
    border-image-slice: 1;
}

.footer p {
    text-align: center;
    margin: 0 5px 5px;
    padding: 0;
    font-size: 0.9em;
}

.redes {
    padding: 5px 0 0;
    text-align: center;
    margin: 0;
}

.redes a {
    color: white;
    margin: 0 10px;
    font-size: 1.3em;
    transition: color 0.3s;
}

.redes a {
    color: white;
    margin: 0 10px;
    font-size: 1.3em;
    transition: color 0.3s;
}

.redes a:hover {
    color: #43e97b;
}


h2 {
    text-align: left;
    padding: 0px;
    margin: 10px;
}

p {
    padding: 0px;
    margin: 10px;
    text-align: justify;
}
